.genSchedInfoContainer{
    padding: "20px";
    margin: "20px";
}

.gcourseInputContainer{
    padding: "20px";
    margin: "20px";
}

.RowSchedInfoContainer{
    padding: "20px";
    margin: "20px";
}

.priorityTitle{
    margin-right: 100px;
}