.genSchedInfoContainer{
    padding: "20px";
    margin: "20px";
}

.courseInputContainer{
    padding: "20px";
    margin: "20px";
    
}

.RowSchedInfoContainer{
    padding: "20px";
    margin: "20px";

}

.priorityTitle{
    margin-right: 100px;
}