.sidemenu {
    height: 600px;
    overflow-y: hidden;
    padding-top: 10%;

    width: 13%;
    position: fixed;
    position: absolute;
    z-index: 1;


    /* margin: 7px; */

    background-color: white;
}

.sidemenu-main {
    margin-left: 23%;
    display: block;
}

.change-term-sched {
    margin-top: 3%;
    margin-bottom: 3%;
}

.savedSchedContent{
    width: 615px;
    padding: 10px;
    margin: 10px;
    height: 770px;
}


.optionList{
    height: 600px;
    width: 20%;
    /* width: 20%; */
    position: fixed;
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px;
    top:0;
    right: 0;
    padding-top: 9%;
    
}

.option-choices {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 150px;
    
   
}

.viewCoursesHome{
    width: 750px;
    margin-top: 20px;
    position: absolute;
}

.savedSchedContent{
    width: 800px;
    height: 100%;
}

.paginationContainer{
    margin-top: 35px;
}

.page-link{
    color:#5b8c85;
}

.page-item.active .page-link {
    background-color: #5b8c85;
    border-color: #5b8c85;
}
